
/*   Styles for the shoe shack shopping cart list app
}*/

h1{
  font-family: 'Enriqueta', serif;
    color:  #2F4F4F;
    background-color: #666633;
    box-shadow: 10px 10px 5px #888888; 
    text-shadow: 2px 2px #7f0000;
    width: 100%;
    margin-bottom: 30px;
    text-align: center;
    font-size: 4.3em;
    padding-left: 58px;
    
 }
.info-remove{
      padding: 20px;
      text-align: center;
      width:  650px;
      margin: 0 auto;
      font-size: 1.8em;
      border-bottom: .3px solid red;
}

.info{
      color:  #2F4F4F;
      font-size: 2em;

}

.cont {
      
    background-color: #D3D3D3;
    width:   590px;
    height: 400px;
    color: #458B74;
    border: 5px solid #CCC;
    padding: 0px 10px;
    margin: 0 auto;  
    border-radius: 20px;
    padding: 3px;

}

/*span {
    display: block;
}*/


img{

    width:250px; 
    height:230px;
    margin: 0 auto; 
    float: left;
    padding: 12px; 
    position: relative;
    margin-right: 25px;
    border-radius: 20px;
    
}
.bag{
    float: right;
    width:80px; 
    height:80px;
    padding-right: 80px;
    position: relative;
    left: -420px;
    bottom: 84px;
    top: -5px;
 


}

.cont p {
      font-family: 'Enriqueta', serif;
      font-size: 1.6em;
}

.box{
    width: 104.5px;
     height: 85.5px;
      float: right;
        text-align: center;
          background-image: url('smal3.jpg');
           box-shadow: 1px 1px 3px #888888; 
 
        display: inline;
      position: relative;
    bottom: -18px;
  border-radius: 5px;
clear: left;

   
}

.cont ul{
    list-style-type: none;
        padding: 4px;
          font-weight: 800;
            font-size: 1.1em;

   }

 .box {
      padding: 1px;
        position: relative;
          left: -10px;
            margin-left: 9px;
    
   
}
 .box:last-child{
               display: none;
}


  body{
          background-color: #f5f5dc;
       opacity: 1;
     position: relative;
  
 }

 h2{
    font-size: 2em;
      font-weight: 900;
         font-weight: bold;
         font-family: 'Enriqueta', serif;

 
 }

.content_wrapper > button {
                          float: right;
                            padding-right: 8px;
                              margin-right: 10em;
}


.button{
       float: right;
        padding-right: 2px;
         margin-right: 7em;
}


.big-button{
  font-family: 'Enriqueta', serif;
  margin-top: 14px;
  margin-left:auto;
  margin-right:auto;
  display:block;
  margin-top:.6%;
  margin-bottom: 5%;
  width: 324px;
  height: 60px;
  padding: 0;
  font-size: 2em;
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #f39c12;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: inset  -2px #000000;
 

}


.footer{
  
     background-color: #9C9F84;
     box-shadow: 10px 10px 5px #888888; 
     width: 100%;
     height: 220px;
     margin-bottom: 20px;
     font-size: 4em;
     padding:  30px;
     color: #52007F;
     margin-top: 60px;
     padding-top: 1em;
     padding-bottom: .8em;
     text-align: center;
     font-size: 1.5em;


}
 .social {
          position: relative;
            left: -30px;
}

.footer p,  {
    position: relative;
    left: -35px;
    color: #551a8b;
   

}

.footer ul{

 list-style-type: none; 

}
a{

  color: #003366; 
   list-style-type: none; 

}

input{
      float: right;
      position: relative;
      bottom: 22px;
      left: -14px;
      width: 20em;
      height: 2.5em;
      font-size: .5em;
      margin-top: 3px;

}

form{
      margin-top: 60px;
      position: relative;
      font-size: 1em;
      padding: 5px;
 
}
.item{
  font-size: 1em;

}




a.down {
    background: #bbb;
    border-top: solid 2px #777;
    border-left: solid 2px #777;
    border-bottom:solid 2px  #eaeaea;
    border-right: solid 2px #eaeaea;
    }

.wrap-cont{
    border-left: solid 2px #eaeaea;
    border-right: solid 2px #eaeaea;
    padding: 5px;

    }


.border1{
    width:   516px;
    height: 3.5em;
    background-color: #9C9F84;
    margin-left:  auto; 
    margin-right:  auto; 
    margin-top: 25px;
    margin-bottom: 20px;
    padding: 2px;
    position: relative;
    text-align: center;
    border-radius: 4px
}
.border1 > p{
        
    left: -14px;
    text-align: center;
    font-size: 1.4em;
}






