

h1{
  font-family: 'Enriqueta', serif;
    color:  #2F4F4F;
    background-color: #666633;
    box-shadow: 10px 10px 5px #888888; 
    text-shadow: 2px 2px #7f0000;
    width: 100%;
    margin-bottom: 30px;
    text-align: center;
    font-size: 4em;
    padding:  30px;

 }

.info, .info-remove{
      padding: 20px;
      text-align: center;
      width:  650px;
      margin: 0 auto;
      font-size: 1.8em;
      border-bottom: .3px solid red;
}


.cont {
      
    background-color: #D3D3D3;
    width:   600px;
    height: 400px;
    color: #458B74;
    border: 5px solid #CCC;
    padding: 5px 10px;
    margin: 0 auto;  
    box-shadow: 10px 10px 5px #888888; 
    border-radius: 20px

}

img{

    width:250px; 
    height:250px;
    margin: 0 auto; 
    float: left;
    padding: 8px; 

    position: relative;
    margin-right: 25px;
    border-radius: 20px;
    box-shadow: 1px 1px 3px #888888; 

   
}

.cont p {
  font-family: 'Enriqueta', serif;
  font-size: 1.6em;
}

.box{
  width: 96.5px;
  height: 91.5px;
  float: right;
  text-align: center;
  background-image: url('smal3.jpg');
  box-shadow: 1px 1px 3px #888888; 
  z-index: 9999;
  display: inline;
  position: relative;
  bottom: -18px;

  left: -10px;
  clear: left;

   
}

ul{
    list-style-type: none;
     padding: 5px;
    list-style-type: none;
    padding: 6px;
    font-weight: 800;

   }

ul li{
     color: black;
      font-size: 1.4em;
   
}


body{

  background-color: #DFDFDF;
  
 }

 h2{
    font-size: 2em;
      font-weight: 900;
        font-family: 'Enriqueta', serif;

 
 }

.content_wrapper > button {

  float: right;
  padding-right: 8px;
  margin-right: 10em;
}


.button{
  float: right;
  padding-right: 2px;
  margin-right: 7em;
}


.big-button{
  margin-top: 20px;
  margin-left:auto;
  margin-right:auto;
  display:block;
  margin-top:.6%;
  margin-bottom: 5%;
  width: 440px;
  height: 60px;
  padding: 0;
  font-size: 2em;
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #f39c12;
  border: 0;
  border-bottom: 2px solid #e8930c;
  cursor: pointer;
  -webkit-box-shadow: inset 0 -2px #e8930c;
  box-shadow: inset 0 -2px #e8930c;

}


.footer{
  
     background-color: #9C9F84;
     box-shadow: 10px 10px 5px #888888; 
     width: 100%;
     height: 220px;
     margin-bottom: 20px;
     font-size: 4em;
     padding:  30px;
     color: #52007F;
     margin-top: 60px;
     padding-top: 1em;
     padding-bottom: .8em;
     text-align: center;
     font-size: 1.5em;


}
 .social {
  position: relative;
    left: -30px;

}

.footer p {
    position: relative;
    left: -35px;
    color: #551a8b;

}
a{

  color: #003366; 
}
input{
      float: right;
      position: relative;
      bottom: 20px;
      left: -90px;
      width: 15em;
      height: 2em;
      font-size: .5em;
      margin-top: 3px;

}

form{
 margin-top: 60px;
 position: relative;
  font-size: 1em;

}
.item{
  font-size: 1em;

}




a.down {
    background: #bbb;
    border-top: solid 2px #777;
    border-left: solid 2px #777;
    border-bottom:solid 2px  #eaeaea;
    border-right: solid 2px #eaeaea;
    }










